In [53]:
import numpy as np
import pandas as pd

In [54]:
df = pd.read_csv('./transactions.csv')

In [55]:
df

,txn_id,source,target,tokenid,timestamp,transferedAmount,value,transactionFee,from,to,token,txhash,edgelabel
0,0,674618,501095,1170882,20220730055230,1,78.52,2.230,0x9463ea1dadf279e174e1075b49b8b7a13d1e7293,0x6e388502b891ca05eb52525338172f261c31b7d3,0xd07dc4262bcdbf85190c01c996b4c06a461d2430,0xb55b5b44aa556916ab6c8b38c40649c06c6363be5f00...,11
1,1,0,984132,1170882,20220730055230,14,0.00,0.980,0x0000000000000000000000000000000000000000,0xd8b75eb7bd778ac0b3f5ffad69bcc2e25bccac95,0xd07dc4262bcdbf85190c01c996b4c06a461d2430,0xa50ddcc6c3738761284a9e01427117781dd4810acc91...,12
2,2,416892,364963,1170882,20220730055138,1,0.00,0.330,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,0xd07dc4262bcdbf85190c01c996b4c06a461d2430,0xa218536b94379dcbc7ec14a298a09cfc366c30d5b850...,10
3,3,416892,364963,1170882,20220730054707,1,0.00,0.250,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,0xd07dc4262bcdbf85190c01c996b4c06a461d2430,0x51a0029fb9e8ebe82768e7731b1629f6aaa875370949...,10
4,4,373162,843552,1170882,20220730054502,1,1.59,1.140,0x51d64770529adafe067e589423e101f93c8a87c1,0xb9b432febe524277149f51aa4cdcf387bc7ce1e2,0xd07dc4262bcdbf85190c01c996b4c06a461d2430,0x691bc0bcf228d05d31f7ca3d8d9638d82c6990638007...,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6893959,6893959,0,1115718,1168672,20210312185530,1,0.00,48.440,0x0000000000000000000000000000000000000000,0xf5daf8733cc0318a80dcbf2020d1c0940bfab24c,0x9eb68034630fd22be860edab675e7b02e4292dfc,0xad88025a4e7ad1e2b5626e628eda8e20378b453a386a...,12
6893960,6893960,620350,166226,1162813,20220317094101,1,0.00,2.300,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x244763ea2039d880b62d2ba427d8919eba6ee50b,0x16984e758012561727ba54bca81bc6222e75357e,0x1d3028bf0e8d9d860ff82868f89c881d1f50e59f241f...,10
6893961,6893961,0,620350,1162813,20220317094101,51,0.00,2.300,0x0000000000000000000000000000000000000000,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x16984e758012561727ba54bca81bc6222e75357e,0x1d3028bf0e8d9d860ff82868f89c881d1f50e59f241f...,12
6893962,6893962,0,427942,1162813,20220317093957,1,0.00,7.735,0x0000000000000000000000000000000000000000,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x16984e758012561727ba54bca81bc6222e75357e,0x7267542786971215a868bd505eacf49ac2a265283a85...,12
6893963,6893963,427942,620350,1162813,20220317093957,1,0.00,7.735,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x16984e758012561727ba54bca81bc6222e75357e,0x7267542786971215a868bd505eacf49ac2a265283a85...,10

In [56]:
df.drop(columns=['token',],inplace=True)

In [57]:
df['min'] = df[['source','target']].min(axis=1)
df['max'] = df[['source','target']].max(axis=1)

In [58]:
df['Cnt'] = 0

In [59]:
df

,txn_id,source,target,tokenid,timestamp,transferedAmount,value,transactionFee,from,to,txhash,edgelabel,min,max,Cnt
0,0,674618,501095,1170882,20220730055230,1,78.52,2.230,0x9463ea1dadf279e174e1075b49b8b7a13d1e7293,0x6e388502b891ca05eb52525338172f261c31b7d3,0xb55b5b44aa556916ab6c8b38c40649c06c6363be5f00...,11,501095,674618,0
1,1,0,984132,1170882,20220730055230,14,0.00,0.980,0x0000000000000000000000000000000000000000,0xd8b75eb7bd778ac0b3f5ffad69bcc2e25bccac95,0xa50ddcc6c3738761284a9e01427117781dd4810acc91...,12,0,984132,0
2,2,416892,364963,1170882,20220730055138,1,0.00,0.330,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,0xa218536b94379dcbc7ec14a298a09cfc366c30d5b850...,10,364963,416892,0
3,3,416892,364963,1170882,20220730054707,1,0.00,0.250,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,0x51a0029fb9e8ebe82768e7731b1629f6aaa875370949...,10,364963,416892,0
4,4,373162,843552,1170882,20220730054502,1,1.59,1.140,0x51d64770529adafe067e589423e101f93c8a87c1,0xb9b432febe524277149f51aa4cdcf387bc7ce1e2,0x691bc0bcf228d05d31f7ca3d8d9638d82c6990638007...,11,373162,843552,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6893959,6893959,0,1115718,1168672,20210312185530,1,0.00,48.440,0x0000000000000000000000000000000000000000,0xf5daf8733cc0318a80dcbf2020d1c0940bfab24c,0xad88025a4e7ad1e2b5626e628eda8e20378b453a386a...,12,0,1115718,0
6893960,6893960,620350,166226,1162813,20220317094101,1,0.00,2.300,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x244763ea2039d880b62d2ba427d8919eba6ee50b,0x1d3028bf0e8d9d860ff82868f89c881d1f50e59f241f...,10,166226,620350,0
6893961,6893961,0,620350,1162813,20220317094101,51,0.00,2.300,0x0000000000000000000000000000000000000000,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x1d3028bf0e8d9d860ff82868f89c881d1f50e59f241f...,12,0,620350,0
6893962,6893962,0,427942,1162813,20220317093957,1,0.00,7.735,0x0000000000000000000000000000000000000000,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x7267542786971215a868bd505eacf49ac2a265283a85...,12,0,427942,0
6893963,6893963,427942,620350,1162813,20220317093957,1,0.00,7.735,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x7267542786971215a868bd505eacf49ac2a265283a85...,10,427942,620350,0

In [60]:
df['Cnt'] = df.groupby(['min','max'])['Cnt'].transform("count")
df

,txn_id,source,target,tokenid,timestamp,transferedAmount,value,transactionFee,from,to,txhash,edgelabel,min,max,Cnt
0,0,674618,501095,1170882,20220730055230,1,78.52,2.230,0x9463ea1dadf279e174e1075b49b8b7a13d1e7293,0x6e388502b891ca05eb52525338172f261c31b7d3,0xb55b5b44aa556916ab6c8b38c40649c06c6363be5f00...,11,501095,674618,1
1,1,0,984132,1170882,20220730055230,14,0.00,0.980,0x0000000000000000000000000000000000000000,0xd8b75eb7bd778ac0b3f5ffad69bcc2e25bccac95,0xa50ddcc6c3738761284a9e01427117781dd4810acc91...,12,0,984132,2
2,2,416892,364963,1170882,20220730055138,1,0.00,0.330,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,0xa218536b94379dcbc7ec14a298a09cfc366c30d5b850...,10,364963,416892,11
3,3,416892,364963,1170882,20220730054707,1,0.00,0.250,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,0x51a0029fb9e8ebe82768e7731b1629f6aaa875370949...,10,364963,416892,11
4,4,373162,843552,1170882,20220730054502,1,1.59,1.140,0x51d64770529adafe067e589423e101f93c8a87c1,0xb9b432febe524277149f51aa4cdcf387bc7ce1e2,0x691bc0bcf228d05d31f7ca3d8d9638d82c6990638007...,11,373162,843552,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6893959,6893959,0,1115718,1168672,20210312185530,1,0.00,48.440,0x0000000000000000000000000000000000000000,0xf5daf8733cc0318a80dcbf2020d1c0940bfab24c,0xad88025a4e7ad1e2b5626e628eda8e20378b453a386a...,12,0,1115718,3
6893960,6893960,620350,166226,1162813,20220317094101,1,0.00,2.300,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x244763ea2039d880b62d2ba427d8919eba6ee50b,0x1d3028bf0e8d9d860ff82868f89c881d1f50e59f241f...,10,166226,620350,1
6893961,6893961,0,620350,1162813,20220317094101,51,0.00,2.300,0x0000000000000000000000000000000000000000,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x1d3028bf0e8d9d860ff82868f89c881d1f50e59f241f...,12,0,620350,9
6893962,6893962,0,427942,1162813,20220317093957,1,0.00,7.735,0x0000000000000000000000000000000000000000,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x7267542786971215a868bd505eacf49ac2a265283a85...,12,0,427942,745
6893963,6893963,427942,620350,1162813,20220317093957,1,0.00,7.735,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x7267542786971215a868bd505eacf49ac2a265283a85...,10,427942,620350,1

In [61]:
df['transferedAmount'] = df.groupby(['min','max'])['transferedAmount'].transform(sum)
df

,txn_id,source,target,tokenid,timestamp,transferedAmount,value,transactionFee,from,to,txhash,edgelabel,min,max,Cnt
0,0,674618,501095,1170882,20220730055230,1,78.52,2.230,0x9463ea1dadf279e174e1075b49b8b7a13d1e7293,0x6e388502b891ca05eb52525338172f261c31b7d3,0xb55b5b44aa556916ab6c8b38c40649c06c6363be5f00...,11,501095,674618,1
1,1,0,984132,1170882,20220730055230,18,0.00,0.980,0x0000000000000000000000000000000000000000,0xd8b75eb7bd778ac0b3f5ffad69bcc2e25bccac95,0xa50ddcc6c3738761284a9e01427117781dd4810acc91...,12,0,984132,2
2,2,416892,364963,1170882,20220730055138,11,0.00,0.330,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,0xa218536b94379dcbc7ec14a298a09cfc366c30d5b850...,10,364963,416892,11
3,3,416892,364963,1170882,20220730054707,11,0.00,0.250,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,0x51a0029fb9e8ebe82768e7731b1629f6aaa875370949...,10,364963,416892,11
4,4,373162,843552,1170882,20220730054502,1,1.59,1.140,0x51d64770529adafe067e589423e101f93c8a87c1,0xb9b432febe524277149f51aa4cdcf387bc7ce1e2,0x691bc0bcf228d05d31f7ca3d8d9638d82c6990638007...,11,373162,843552,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6893959,6893959,0,1115718,1168672,20210312185530,10,0.00,48.440,0x0000000000000000000000000000000000000000,0xf5daf8733cc0318a80dcbf2020d1c0940bfab24c,0xad88025a4e7ad1e2b5626e628eda8e20378b453a386a...,12,0,1115718,3
6893960,6893960,620350,166226,1162813,20220317094101,1,0.00,2.300,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x244763ea2039d880b62d2ba427d8919eba6ee50b,0x1d3028bf0e8d9d860ff82868f89c881d1f50e59f241f...,10,166226,620350,1
6893961,6893961,0,620350,1162813,20220317094101,60,0.00,2.300,0x0000000000000000000000000000000000000000,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x1d3028bf0e8d9d860ff82868f89c881d1f50e59f241f...,12,0,620350,9
6893962,6893962,0,427942,1162813,20220317093957,795,0.00,7.735,0x0000000000000000000000000000000000000000,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x7267542786971215a868bd505eacf49ac2a265283a85...,12,0,427942,745
6893963,6893963,427942,620350,1162813,20220317093957,1,0.00,7.735,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x7267542786971215a868bd505eacf49ac2a265283a85...,10,427942,620350,1

In [62]:
df['value'] = df.groupby(['min','max'])['value'].transform(sum)
df

,txn_id,source,target,tokenid,timestamp,transferedAmount,value,transactionFee,from,to,txhash,edgelabel,min,max,Cnt
0,0,674618,501095,1170882,20220730055230,1,78.520000,2.230,0x9463ea1dadf279e174e1075b49b8b7a13d1e7293,0x6e388502b891ca05eb52525338172f261c31b7d3,0xb55b5b44aa556916ab6c8b38c40649c06c6363be5f00...,11,501095,674618,1
1,1,0,984132,1170882,20220730055230,18,0.000000,0.980,0x0000000000000000000000000000000000000000,0xd8b75eb7bd778ac0b3f5ffad69bcc2e25bccac95,0xa50ddcc6c3738761284a9e01427117781dd4810acc91...,12,0,984132,2
2,2,416892,364963,1170882,20220730055138,11,0.000000,0.330,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,0xa218536b94379dcbc7ec14a298a09cfc366c30d5b850...,10,364963,416892,11
3,3,416892,364963,1170882,20220730054707,11,0.000000,0.250,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,0x51a0029fb9e8ebe82768e7731b1629f6aaa875370949...,10,364963,416892,11
4,4,373162,843552,1170882,20220730054502,1,1.590000,1.140,0x51d64770529adafe067e589423e101f93c8a87c1,0xb9b432febe524277149f51aa4cdcf387bc7ce1e2,0x691bc0bcf228d05d31f7ca3d8d9638d82c6990638007...,11,373162,843552,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6893959,6893959,0,1115718,1168672,20210312185530,10,0.000000,48.440,0x0000000000000000000000000000000000000000,0xf5daf8733cc0318a80dcbf2020d1c0940bfab24c,0xad88025a4e7ad1e2b5626e628eda8e20378b453a386a...,12,0,1115718,3
6893960,6893960,620350,166226,1162813,20220317094101,1,0.000000,2.300,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x244763ea2039d880b62d2ba427d8919eba6ee50b,0x1d3028bf0e8d9d860ff82868f89c881d1f50e59f241f...,10,166226,620350,1
6893961,6893961,0,620350,1162813,20220317094101,60,1391.690001,2.300,0x0000000000000000000000000000000000000000,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x1d3028bf0e8d9d860ff82868f89c881d1f50e59f241f...,12,0,620350,9
6893962,6893962,0,427942,1162813,20220317093957,795,0.000000,7.735,0x0000000000000000000000000000000000000000,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x7267542786971215a868bd505eacf49ac2a265283a85...,12,0,427942,745
6893963,6893963,427942,620350,1162813,20220317093957,1,0.000000,7.735,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x7267542786971215a868bd505eacf49ac2a265283a85...,10,427942,620350,1

In [63]:
df['transactionFee'] = df.groupby(['min','max'])['transactionFee'].transform(sum)
df

,txn_id,source,target,tokenid,timestamp,transferedAmount,value,transactionFee,from,to,txhash,edgelabel,min,max,Cnt
0,0,674618,501095,1170882,20220730055230,1,78.520000,2.230000,0x9463ea1dadf279e174e1075b49b8b7a13d1e7293,0x6e388502b891ca05eb52525338172f261c31b7d3,0xb55b5b44aa556916ab6c8b38c40649c06c6363be5f00...,11,501095,674618,1
1,1,0,984132,1170882,20220730055230,18,0.000000,6.370000,0x0000000000000000000000000000000000000000,0xd8b75eb7bd778ac0b3f5ffad69bcc2e25bccac95,0xa50ddcc6c3738761284a9e01427117781dd4810acc91...,12,0,984132,2
2,2,416892,364963,1170882,20220730055138,11,0.000000,82.530000,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,0xa218536b94379dcbc7ec14a298a09cfc366c30d5b850...,10,364963,416892,11
3,3,416892,364963,1170882,20220730054707,11,0.000000,82.530000,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,0x51a0029fb9e8ebe82768e7731b1629f6aaa875370949...,10,364963,416892,11
4,4,373162,843552,1170882,20220730054502,1,1.590000,1.140000,0x51d64770529adafe067e589423e101f93c8a87c1,0xb9b432febe524277149f51aa4cdcf387bc7ce1e2,0x691bc0bcf228d05d31f7ca3d8d9638d82c6990638007...,11,373162,843552,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6893959,6893959,0,1115718,1168672,20210312185530,10,0.000000,147.810000,0x0000000000000000000000000000000000000000,0xf5daf8733cc0318a80dcbf2020d1c0940bfab24c,0xad88025a4e7ad1e2b5626e628eda8e20378b453a386a...,12,0,1115718,3
6893960,6893960,620350,166226,1162813,20220317094101,1,0.000000,2.300000,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x244763ea2039d880b62d2ba427d8919eba6ee50b,0x1d3028bf0e8d9d860ff82868f89c881d1f50e59f241f...,10,166226,620350,1
6893961,6893961,0,620350,1162813,20220317094101,60,1391.690001,104.140000,0x0000000000000000000000000000000000000000,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x1d3028bf0e8d9d860ff82868f89c881d1f50e59f241f...,12,0,620350,9
6893962,6893962,0,427942,1162813,20220317093957,795,0.000000,8887.192778,0x0000000000000000000000000000000000000000,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x7267542786971215a868bd505eacf49ac2a265283a85...,12,0,427942,745
6893963,6893963,427942,620350,1162813,20220317093957,1,0.000000,7.735000,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x7267542786971215a868bd505eacf49ac2a265283a85...,10,427942,620350,1

In [64]:
df

,txn_id,source,target,tokenid,timestamp,transferedAmount,value,transactionFee,from,to,txhash,edgelabel,min,max,Cnt
0,0,674618,501095,1170882,20220730055230,1,78.520000,2.230000,0x9463ea1dadf279e174e1075b49b8b7a13d1e7293,0x6e388502b891ca05eb52525338172f261c31b7d3,0xb55b5b44aa556916ab6c8b38c40649c06c6363be5f00...,11,501095,674618,1
1,1,0,984132,1170882,20220730055230,18,0.000000,6.370000,0x0000000000000000000000000000000000000000,0xd8b75eb7bd778ac0b3f5ffad69bcc2e25bccac95,0xa50ddcc6c3738761284a9e01427117781dd4810acc91...,12,0,984132,2
2,2,416892,364963,1170882,20220730055138,11,0.000000,82.530000,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,0xa218536b94379dcbc7ec14a298a09cfc366c30d5b850...,10,364963,416892,11
3,3,416892,364963,1170882,20220730054707,11,0.000000,82.530000,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,0x51a0029fb9e8ebe82768e7731b1629f6aaa875370949...,10,364963,416892,11
4,4,373162,843552,1170882,20220730054502,1,1.590000,1.140000,0x51d64770529adafe067e589423e101f93c8a87c1,0xb9b432febe524277149f51aa4cdcf387bc7ce1e2,0x691bc0bcf228d05d31f7ca3d8d9638d82c6990638007...,11,373162,843552,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6893959,6893959,0,1115718,1168672,20210312185530,10,0.000000,147.810000,0x0000000000000000000000000000000000000000,0xf5daf8733cc0318a80dcbf2020d1c0940bfab24c,0xad88025a4e7ad1e2b5626e628eda8e20378b453a386a...,12,0,1115718,3
6893960,6893960,620350,166226,1162813,20220317094101,1,0.000000,2.300000,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x244763ea2039d880b62d2ba427d8919eba6ee50b,0x1d3028bf0e8d9d860ff82868f89c881d1f50e59f241f...,10,166226,620350,1
6893961,6893961,0,620350,1162813,20220317094101,60,1391.690001,104.140000,0x0000000000000000000000000000000000000000,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x1d3028bf0e8d9d860ff82868f89c881d1f50e59f241f...,12,0,620350,9
6893962,6893962,0,427942,1162813,20220317093957,795,0.000000,8887.192778,0x0000000000000000000000000000000000000000,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x7267542786971215a868bd505eacf49ac2a265283a85...,12,0,427942,745
6893963,6893963,427942,620350,1162813,20220317093957,1,0.000000,7.735000,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x7267542786971215a868bd505eacf49ac2a265283a85...,10,427942,620350,1

In [65]:
# df = df.groupby(['min','max']).agg({'transferedAmount':sum,'value':sum,'transactionFee':sum,'Cnt':"count"}).reset_index(drop=False)
# df

In [66]:
df.columns

Index(['txn_id', 'source', 'target', 'tokenid', 'timestamp',
       'transferedAmount', 'value', 'transactionFee', 'from', 'to', 'txhash',
       'edgelabel', 'min', 'max', 'Cnt'],
      dtype='object')

In [67]:
df = df.drop_duplicates(subset=['min','max'],ignore_index=True,keep='first')

In [68]:
df['txn_id'] = pd.Series(np.arange(df.shape[0]))

/tmp/ipykernel_21135/239626342.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['txn_id'] = pd.Series(np.arange(df.shape[0]))

In [69]:
df.drop(columns=['min','max'],inplace=True)

/tmp/ipykernel_21135/4220004489.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['min','max'],inplace=True)

In [70]:
df.drop(columns=['txhash'],inplace=True)

/tmp/ipykernel_21135/3419096421.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['txhash'],inplace=True)

In [71]:
df.drop(columns=['edgelabel'],inplace=True)

/tmp/ipykernel_21135/2461210472.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['edgelabel'],inplace=True)

In [72]:
df.drop(columns=['tokenid'],inplace=True)

/tmp/ipykernel_21135/2020173382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['tokenid'],inplace=True)

In [73]:
df

,txn_id,source,target,timestamp,transferedAmount,value,transactionFee,from,to,Cnt
0,0,674618,501095,20220730055230,1,78.52,2.230,0x9463ea1dadf279e174e1075b49b8b7a13d1e7293,0x6e388502b891ca05eb52525338172f261c31b7d3,1
1,1,0,984132,20220730055230,18,0.00,6.370,0x0000000000000000000000000000000000000000,0xd8b75eb7bd778ac0b3f5ffad69bcc2e25bccac95,2
2,2,416892,364963,20220730055138,11,0.00,82.530,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,11
3,3,373162,843552,20220730054502,1,1.59,1.140,0x51d64770529adafe067e589423e101f93c8a87c1,0xb9b432febe524277149f51aa4cdcf387bc7ce1e2,1
4,4,0,222842,20220730054502,3,0.00,1.040,0x0000000000000000000000000000000000000000,0x30bf256a743f071ea4d9333fb4775e83ecc04066,1
...,...,...,...,...,...,...,...,...,...,...
2851402,2851402,1115718,707438,20210313080456,1,135.07,35.560,0xf5daf8733cc0318a80dcbf2020d1c0940bfab24c,0x9b99a8d7aeff179f64f947076babf554596e196a,1
2851403,2851403,1115718,1123703,20210313072058,1,135.07,38.270,0xf5daf8733cc0318a80dcbf2020d1c0940bfab24c,0xf79eff7690a4ae15d53cf7b90f8c20e223f2cfa6,1
2851404,2851404,0,1115718,20210312200507,10,0.00,147.810,0x0000000000000000000000000000000000000000,0xf5daf8733cc0318a80dcbf2020d1c0940bfab24c,3
2851405,2851405,620350,166226,20220317094101,1,0.00,2.300,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x244763ea2039d880b62d2ba427d8919eba6ee50b,1
2851406,2851406,427942,620350,20220317093957,1,0.00,7.735,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x886d4a38ced1282013a26017452cb3dbb124dbf3,1

In [74]:
df = df.rename(columns={'Cnt':'TxnsCnt'})

In [75]:
df

,txn_id,source,target,timestamp,transferedAmount,value,transactionFee,from,to,TxnsCnt
0,0,674618,501095,20220730055230,1,78.52,2.230,0x9463ea1dadf279e174e1075b49b8b7a13d1e7293,0x6e388502b891ca05eb52525338172f261c31b7d3,1
1,1,0,984132,20220730055230,18,0.00,6.370,0x0000000000000000000000000000000000000000,0xd8b75eb7bd778ac0b3f5ffad69bcc2e25bccac95,2
2,2,416892,364963,20220730055138,11,0.00,82.530,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,11
3,3,373162,843552,20220730054502,1,1.59,1.140,0x51d64770529adafe067e589423e101f93c8a87c1,0xb9b432febe524277149f51aa4cdcf387bc7ce1e2,1
4,4,0,222842,20220730054502,3,0.00,1.040,0x0000000000000000000000000000000000000000,0x30bf256a743f071ea4d9333fb4775e83ecc04066,1
...,...,...,...,...,...,...,...,...,...,...
2851402,2851402,1115718,707438,20210313080456,1,135.07,35.560,0xf5daf8733cc0318a80dcbf2020d1c0940bfab24c,0x9b99a8d7aeff179f64f947076babf554596e196a,1
2851403,2851403,1115718,1123703,20210313072058,1,135.07,38.270,0xf5daf8733cc0318a80dcbf2020d1c0940bfab24c,0xf79eff7690a4ae15d53cf7b90f8c20e223f2cfa6,1
2851404,2851404,0,1115718,20210312200507,10,0.00,147.810,0x0000000000000000000000000000000000000000,0xf5daf8733cc0318a80dcbf2020d1c0940bfab24c,3
2851405,2851405,620350,166226,20220317094101,1,0.00,2.300,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x244763ea2039d880b62d2ba427d8919eba6ee50b,1
2851406,2851406,427942,620350,20220317093957,1,0.00,7.735,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x886d4a38ced1282013a26017452cb3dbb124dbf3,1

In [78]:
dfout = df[['from','to','timestamp','transferedAmount','value','transactionFee','TxnsCnt']]

In [79]:
dfout.to_csv('/data/sx/NFTGraph/edges.csv',index=False)

In [27]:
# dfout = df[['txn_id','source','target','tokenid','timestamp','TxnsCnt','transferedAmount','value','transactionFee','txhash','edgelabel']]

In [28]:
# dfout.to_csv('/data/sx/erc1155-graph/wholegraph/obgl_Undirected_Single_InterEdge.csv',index=False)