In [27]:
import numpy as np
import pandas as pd

In [28]:
prefix = '/data/sx/NFTGraph'

In [29]:
dfedges = pd.read_csv(prefix+'/raw_data/edges.csv')

In [30]:
dfedges

,from,to,timestamp,transferedAmount,value,transactionFee,TxnsCnt
0,0x9463ea1dadf279e174e1075b49b8b7a13d1e7293,0x6e388502b891ca05eb52525338172f261c31b7d3,20220730055230,1,78.52,2.230,1
1,0x0000000000000000000000000000000000000000,0xd8b75eb7bd778ac0b3f5ffad69bcc2e25bccac95,20220730055230,18,0.00,6.370,2
2,0x5b84e08b8883f400120da8a0099ba142641d1abb,0x4fffd4614ef28eb2618a27c5d88a5fd92c6d6580,20220730055138,11,0.00,82.530,11
3,0x51d64770529adafe067e589423e101f93c8a87c1,0xb9b432febe524277149f51aa4cdcf387bc7ce1e2,20220730054502,1,1.59,1.140,1
4,0x0000000000000000000000000000000000000000,0x30bf256a743f071ea4d9333fb4775e83ecc04066,20220730054502,3,0.00,1.040,1
...,...,...,...,...,...,...,...
2851402,0xf5daf8733cc0318a80dcbf2020d1c0940bfab24c,0x9b99a8d7aeff179f64f947076babf554596e196a,20210313080456,1,135.07,35.560,1
2851403,0xf5daf8733cc0318a80dcbf2020d1c0940bfab24c,0xf79eff7690a4ae15d53cf7b90f8c20e223f2cfa6,20210313072058,1,135.07,38.270,1
2851404,0x0000000000000000000000000000000000000000,0xf5daf8733cc0318a80dcbf2020d1c0940bfab24c,20210312200507,10,0.00,147.810,3
2851405,0x886d4a38ced1282013a26017452cb3dbb124dbf3,0x244763ea2039d880b62d2ba427d8919eba6ee50b,20220317094101,1,0.00,2.300,1
2851406,0x5df977d385254d9a66ab8cd35e87e1e0c419b135,0x886d4a38ced1282013a26017452cb3dbb124dbf3,20220317093957,1,0.00,7.735,1

In [31]:
dfnodes = pd.read_csv(prefix+'/raw_data/nodes.csv')

In [32]:
dfnodes

,addr,OutCnt,OutAmount,OutValue,OutTransFee,InCnt,InAmount,InValue,InTransFee,label
0,0x9463ea1dadf279e174e1075b49b8b7a13d1e7293,30.0,30.0,7.403125e+03,3.110050e+02,27.0,27.0,3.326335e+03,7.013300e+02,0
1,0x0000000000000000000000000000000000000000,2650186.0,7217724.0,7.123250e+08,2.160977e+07,595830.0,2410795.0,2.029615e+07,4.879685e+06,0
2,0x5b84e08b8883f400120da8a0099ba142641d1abb,14.0,14.0,1.984900e+02,2.059900e+02,22.0,22.0,1.892580e+03,4.943800e+02,0
3,0x51d64770529adafe067e589423e101f93c8a87c1,1.0,1.0,1.590000e+00,1.140000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0
4,0x3803b6f9bbf032c2299cec3ac5f527424e3639bc,17.0,29.0,9.289000e+01,9.000000e+01,7.0,31.0,0.000000e+00,9.116000e+01,0
...,...,...,...,...,...,...,...,...,...,...
1161842,0x00bc93ecdaae32f82bace83bb53970ea3de2d6bd,0.0,0.0,0.000000e+00,0.000000e+00,1.0,1.0,6.756000e+01,3.950000e+01,0
1161843,0x8bb5e1374e85effd86103335ff12ce943e9e29e3,0.0,0.0,0.000000e+00,0.000000e+00,1.0,1.0,2.702400e+02,6.952000e+01,0
1161844,0x2a41cc186f2ae9ae4899f826e596db12cd1bfc6d,0.0,0.0,0.000000e+00,0.000000e+00,1.0,1.0,6.756000e+01,4.772000e+01,0
1161845,0x4ed0e07ff7750b5ab823cf40f07b08b076063b08,0.0,0.0,0.000000e+00,0.000000e+00,1.0,1.0,6.756000e+01,6.226000e+01,0
1161846,0x9eb8c0f97bf3abed1c8ef938d5a0f15407e7a32a,0.0,0.0,0.000000e+00,0.000000e+00,1.0,1.0,2.702400e+02,3.697000e+01,0

In [33]:
dfnodes['Cnt'] = dfnodes['InCnt'] + dfnodes['OutCnt']

In [34]:
dfnodes = dfnodes.sort_values('Cnt',ascending=False)

In [35]:
topnodes = set(dfnodes.iloc[:20000,0].values.flatten())

In [36]:
def seltopnode(line):
    return line['from'] in topnodes and line['to'] in topnodes

In [37]:
tmp = dfedges.apply(seltopnode,axis=1)

In [38]:
dfedges['topflag'] = tmp

In [39]:
dfedges[dfedges['topflag']==1]

,from,to,timestamp,transferedAmount,value,transactionFee,TxnsCnt,topflag
9,0x1439b4d5a72343b68f12398c649df99d76b2af53,0x8c0a11eb047c1097c821c159b8e0c2c5f37f81bf,20220730032737,43,0.00,121.205,42,True
13,0x9ed3db7a8ec964ef0813edb7bf3ff514a25fae70,0xa5b36a3732937375bc579fa38159347da9938441,20220730021034,265,0.00,293.970,249,True
57,0xbdc4a5c0ff7275736cad102c7408555fb5d6c495,0x564a8e13d7dd23d5525160d204165bdbcb69b4db,20220729052058,43,0.00,52.096,43,True
60,0x5e11534344b8c1fda947b37dc57b8734232a6b1c,0xd0c877b474cd51959931a7f70d7a6c60f50cdae7,20220729042239,1,157.01,1.990,1,True
66,0x58e14b71ef1a30f186000c5fb4e8ab993336f109,0x25f20e56dc90c79bb80896b613dbe9dc6b96ca04,20220729023044,11,16.49,7.230,2,True
...,...,...,...,...,...,...,...,...
2851339,0x8cb7f1a4f44593ec356b11c70c0a977c647c763c,0xe5798a530bb7105e148d38ac884f05c28ed8e804,20220521042106,1,84.28,3.300,1,True
2851340,0x8cb7f1a4f44593ec356b11c70c0a977c647c763c,0x38e3d4a5bf7dea9280e389864d4bf9834cc2f266,20220521034547,1,84.28,4.530,1,True
2851355,0x8cb7f1a4f44593ec356b11c70c0a977c647c763c,0x3cd378c9b1cb5f147ebf1b2c2564118946ae4ba1,20220520212804,1,84.28,5.120,1,True
2851369,0x8cb7f1a4f44593ec356b11c70c0a977c647c763c,0xbc6819c533db537ad8e169d8d67e3c8971c0417f,20220520204309,2,168.51,13.460,2,True
2851378,0x8cb7f1a4f44593ec356b11c70c0a977c647c763c,0x04f443bf89dae24a35f523130cabff709fb1b22c,20220520203434,1,84.23,7.200,1,True

In [40]:
dfedges = dfedges[dfedges['topflag']==True]

In [41]:
dfedges.drop(columns=['topflag'],inplace=True)
dfedges

/tmp/ipykernel_6986/3740642573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfedges.drop(columns=['topflag'],inplace=True)

,from,to,timestamp,transferedAmount,value,transactionFee,TxnsCnt
9,0x1439b4d5a72343b68f12398c649df99d76b2af53,0x8c0a11eb047c1097c821c159b8e0c2c5f37f81bf,20220730032737,43,0.00,121.205,42
13,0x9ed3db7a8ec964ef0813edb7bf3ff514a25fae70,0xa5b36a3732937375bc579fa38159347da9938441,20220730021034,265,0.00,293.970,249
57,0xbdc4a5c0ff7275736cad102c7408555fb5d6c495,0x564a8e13d7dd23d5525160d204165bdbcb69b4db,20220729052058,43,0.00,52.096,43
60,0x5e11534344b8c1fda947b37dc57b8734232a6b1c,0xd0c877b474cd51959931a7f70d7a6c60f50cdae7,20220729042239,1,157.01,1.990,1
66,0x58e14b71ef1a30f186000c5fb4e8ab993336f109,0x25f20e56dc90c79bb80896b613dbe9dc6b96ca04,20220729023044,11,16.49,7.230,2
...,...,...,...,...,...,...,...
2851339,0x8cb7f1a4f44593ec356b11c70c0a977c647c763c,0xe5798a530bb7105e148d38ac884f05c28ed8e804,20220521042106,1,84.28,3.300,1
2851340,0x8cb7f1a4f44593ec356b11c70c0a977c647c763c,0x38e3d4a5bf7dea9280e389864d4bf9834cc2f266,20220521034547,1,84.28,4.530,1
2851355,0x8cb7f1a4f44593ec356b11c70c0a977c647c763c,0x3cd378c9b1cb5f147ebf1b2c2564118946ae4ba1,20220520212804,1,84.28,5.120,1
2851369,0x8cb7f1a4f44593ec356b11c70c0a977c647c763c,0xbc6819c533db537ad8e169d8d67e3c8971c0417f,20220520204309,2,168.51,13.460,2
2851378,0x8cb7f1a4f44593ec356b11c70c0a977c647c763c,0x04f443bf89dae24a35f523130cabff709fb1b22c,20220520203434,1,84.23,7.200,1

In [42]:
dfnodes = dfnodes.iloc[:20000,:]

In [43]:
dfnodes.drop(columns=['Cnt'],inplace=True)

In [44]:
dfnodes.reset_index(drop=True,inplace=True)

In [45]:
dfnodes

,addr,OutCnt,OutAmount,OutValue,OutTransFee,InCnt,InAmount,InValue,InTransFee,label
0,0x0000000000000000000000000000000000000000,2650186.0,7217724.0,7.123250e+08,2.160977e+07,595830.0,2410795.0,2.029615e+07,4.879685e+06,0
1,0x4b3406a41399c7fd2ba65cbc93697ad9e7ea61e5,20407.0,22644.0,0.000000e+00,1.306836e+05,20407.0,22644.0,0.000000e+00,1.306836e+05,0
2,0x000000000000000000000000000000000000dead,6.0,12.0,0.000000e+00,2.842000e+01,39553.0,47223.0,1.036783e+05,1.821448e+05,0
3,0xeca9d81a4dc7119a40481cff4e7e24dd0aaf56bd,1090.0,1090.0,0.000000e+00,1.274590e+03,35295.0,36508.0,0.000000e+00,2.018945e+04,0
4,0x381e840f4ebe33d0153e9a312105554594a98c42,34524.0,36592.0,0.000000e+00,2.083176e+05,442.0,2494.0,0.000000e+00,2.374280e+03,0
...,...,...,...,...,...,...,...,...,...,...
19995,0x5a1d741b79d30c33021cf9d07ab59a37a10b4d1f,11.0,17.0,2.264330e+03,2.911300e+02,52.0,3320.0,2.773610e+03,2.299100e+02,0
19996,0x479db4dac1f196bceb97d52e99c3f4959d93b18b,19.0,23.0,1.110640e+03,1.290900e+02,44.0,44.0,0.000000e+00,1.353200e+02,0
19997,0x6fb9a82b00ccbe0e0cf06984d902cbeb946a44ca,17.0,17.0,4.199727e+03,2.130217e+02,46.0,46.0,3.892785e+03,3.892402e+02,0
19998,0xa126b4ad2328055ab7c01ce87a29a17b9f97e85a,15.0,116.0,1.841844e+04,2.348217e+02,48.0,57.0,9.970242e+03,2.797561e+02,0
19999,0xc7d7ffb6484ac68efdbca7a477a63ce307e8fdcf,4.0,4.0,1.987600e+02,2.526000e+01,59.0,60.0,1.217019e+04,5.536411e+02,0

In [46]:
dfnodes['label'].sum()

259

In [47]:
dfnodes.to_csv(prefix+'/raw_data/tinynodes.csv',index=False)

In [48]:
dfedges

,from,to,timestamp,transferedAmount,value,transactionFee,TxnsCnt
9,0x1439b4d5a72343b68f12398c649df99d76b2af53,0x8c0a11eb047c1097c821c159b8e0c2c5f37f81bf,20220730032737,43,0.00,121.205,42
13,0x9ed3db7a8ec964ef0813edb7bf3ff514a25fae70,0xa5b36a3732937375bc579fa38159347da9938441,20220730021034,265,0.00,293.970,249
57,0xbdc4a5c0ff7275736cad102c7408555fb5d6c495,0x564a8e13d7dd23d5525160d204165bdbcb69b4db,20220729052058,43,0.00,52.096,43
60,0x5e11534344b8c1fda947b37dc57b8734232a6b1c,0xd0c877b474cd51959931a7f70d7a6c60f50cdae7,20220729042239,1,157.01,1.990,1
66,0x58e14b71ef1a30f186000c5fb4e8ab993336f109,0x25f20e56dc90c79bb80896b613dbe9dc6b96ca04,20220729023044,11,16.49,7.230,2
...,...,...,...,...,...,...,...
2851339,0x8cb7f1a4f44593ec356b11c70c0a977c647c763c,0xe5798a530bb7105e148d38ac884f05c28ed8e804,20220521042106,1,84.28,3.300,1
2851340,0x8cb7f1a4f44593ec356b11c70c0a977c647c763c,0x38e3d4a5bf7dea9280e389864d4bf9834cc2f266,20220521034547,1,84.28,4.530,1
2851355,0x8cb7f1a4f44593ec356b11c70c0a977c647c763c,0x3cd378c9b1cb5f147ebf1b2c2564118946ae4ba1,20220520212804,1,84.28,5.120,1
2851369,0x8cb7f1a4f44593ec356b11c70c0a977c647c763c,0xbc6819c533db537ad8e169d8d67e3c8971c0417f,20220520204309,2,168.51,13.460,2
2851378,0x8cb7f1a4f44593ec356b11c70c0a977c647c763c,0x04f443bf89dae24a35f523130cabff709fb1b22c,20220520203434,1,84.23,7.200,1

In [49]:
dfedges.to_csv(prefix+'/raw_data/tinyedges.csv',index=False)